@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lilita+One&display=swap');


body {
    margin: 0;
    font-family: Poppins;
    background: linear-gradient(to top, #f7971e, #ffd200);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
}

header img {
    width: 17%;
    margin-top: 219px;
    /* Se adapta al ancho de la pantalla */
    height: auto;
    /* Mantiene proporción */
    display: block;
}

.navbar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 297px;
    background: #ffffff91;
    border-radius: 50px;
    margin-top: 25px;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
  
  .navbar ul li a {
    position: relative;
    text-decoration: none;
    color: white;
    width: 20%;
    height: 20%;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.336);
    color: black;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .navbar ul li a:hover {
    background-color: #ffc400;
    color: #000;
  }

:root {
    --width-circle: 150vw;
    --radius: calc(100vw / 6);
}

.slider {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url(../img/fondo-texturizado-colores-brillantes-patrones-geometricos_1120604-514.avif);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -50px;
}

.slider .list {
    position: absolute;
    width: max-content;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: transform 0.8s;

}

.slider .list .item {
    width: calc(var(--radius) * 2);
    text-align: center;
    transform: rotate(45deg);
    transition: transform 1s;
}

.slider .list .item.active {
    transform: rotate(0deg);
}

.slider .list .item img {
    width: 90%;
    border-radius: 41px;
    margin-left: 48px;

    filter: drop-shadow(0 0 20px #000);
}

.slider .content {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #ffffff;
    width: max-content;
}

.slider .content div:nth-child(2) {
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: bold;
    position: relative;
}

.slider .content div:nth-child(2)::before {
    position: absolute;
    left: 60%;
    bottom: 50%;
    width: 80px;
    height: 80px;
    content: '';
    background-image: url(img/leaves.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.slider .content div:nth-child(1) {
    text-align: left;
    text-transform: uppercase;
    transform: translateY(20px);
}

.slider .content button {
    border: 1px solid #eee5;
    background: transparent;
    color: #eee;
    font-family: Poppins;
    letter-spacing: 5px;
    border-radius: 20px;
    padding: 10px 20px;
}

#prev,
#next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #eee9;
    background-color: #eee5;
    color: #eee;
    font-size: x-large;
    font-family: monospace;
    cursor: pointer;
    z-index: 15;
}

#prev {
    left: 20px;
}

#next {
    right: 20px;
}

/* //circle */

.circle {
    pointer-events: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    -webkit-mask: radial-gradient(var(--radius), transparent 100%, #000);
    mask: radial-gradient(var(--radius), #0000 98%, #000);
    backdrop-filter: blur(10px);
    background: radial-gradient(calc(var(--radius) + 1px), rgba(202, 15, 15, 0.333) 100%, #eee2);

}

.circle span {
    display: block;
    position: absolute;
    height: calc(var(--radius) * 2 + 50px);
    top: 50%;
    left: 50%;
    --rotate: 50deg;
    transform: translate(-50%, -50%) rotate(var(--rotate));
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    font-size: small;
    animation: circleRotate 20s linear infinite;
}

@keyframes circleRotate {
    to {
        transform: translate(-50%, -50%) rotate(calc(var(--rotate) + 360deg));
    }
}



.ads {

    padding: 40px 20px;
    text-align: center;
    margin-top: 103px;
    border-radius: 34px;
    background-image: url(../img/fondo-texturizado-colores-brillantes-patrones-geometricos_1120604-514.avif);
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.75);
    border-left: 1px solid rgba(255, 255, 255, 0.75);
}

.ads .logo {
    height: 277px;
    text-align: center;
    margin: -123px auto -44px;
}

.ads .logo img {
    height: 80%;
    width: auto;
}


.ads .mapa {
    height: 80%;
    width: 75px;

}

.infmapa {
    font-size: 26px;
    font-weight: 600;
    color: #fff;
}


.ajus {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.subscribe-section {
    background: rgb(223 221 221 / 78%);
    color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: -77px auto 20px;
}


.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    color: white;
    text-align: center;
}

.footer-logo {
    flex: 1;
    min-width: 200px;
}

.footer-links {
    display: flex;
    flex: 2;
    justify-content: space-around;
    min-width: 400px;
}

.footer-links h4 {
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
    padding: 0;

}

.footer-links ul li {
    margin-bottom: 5px;

}

.footer-links ul li a {
    text-decoration: none;
    color: white;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    color: #d32f2f;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
}

/*mapa*/

.subscribe-section1 iframe {
    width: 95%;
    margin: 42px 3%;
    border: none;
    border-radius: 15px;
    height: 210px;
}


.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}


.section__header {
    font-size: 3rem;
    font-weight: 500;
    font-family: var(--header-font-1);
    color: var(--primary-color);
    text-align: center;
    line-height: 3.75rem;
    text-shadow: 2px 2px var(--secondary-color);
}

.section__description {
    font-weight: 500;
    color: var(--text-dark);
    line-height: 1.75rem;
}

.btn {
    padding: 1rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--tertiary-color);
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--primary-color);
}

img {
    display: flex;
    width: 32%;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
}

.header {
    background-image: url("assets/header-bg.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    position: fixed;
    width: 100%;
    max-width: var(--max-width);
    margin-inline: auto;
    z-index: 9;
}

.nav__header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}

.nav__logo img {
    max-width: 150px;
}

.nav__logo-dark {
    display: none;
}

.nav__menu__btn {
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}

.nav__links {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--primary-color);
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);
}

.nav__links.open {
    transform: translateY(0);
}

.nav__links a {
    font-weight: 600;
    white-space: nowrap;
    color: var(--white);
    transition: 0.3s;
}

.nav__links a:hover {
    color: var(--secondary-color);
}

.header__container {
    display: grid;
    gap: 2rem;
    overflow: hidden;
}

.header__image img {
    max-width: 600px;
    margin-inline: auto;
}

.header__content h2 {
    max-width: 400px;
    margin-inline: auto;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    font-size: 1.75rem;
    font-weight: 400;
    font-family: var(--header-font-2);
    color: var(--primary-color);
    border: 2px dashed var(--primary-color);
    text-align: center;
}

.header__content h1 {
    font-size: 4.5rem;
    font-weight: 500;
    font-family: var(--header-font-1);
    color: var(--primary-color);
    line-height: 3.5rem;
    text-align: center;
    text-shadow: 2px 2px var(--white);
}

.header__content h1 span {
    font-size: 3rem;
}

.banner__container {
    display: grid;
    gap: 1rem;
    grid-auto-rows: 348px;
}

.banner__card {
    padding: 3rem;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
}

.banner__card:nth-child(1) {
    background-image: url("../img/gente-disfrutando-de-la-barbacoa-mexicana\ \(1\).jpg");
}

.banner__card:nth-child(2) {
    background-image: url("../img/gente-disfrutando-de-la-barbacoa-mexicana.jpg");
}

.banner__card:nth-child(3) {
    background-image: url("../img/primer-plano-de-un-anciano-comiendo-un-delicioso-taco.jpg");
}

.banner__card p {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
}

.banner__card h4 {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
}

.banner__card .vija {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.order__container h3 {
    max-width: fit-content;
    margin-inline: auto;
    margin-bottom: 1rem;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--header-font-2);
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.order__container .section__header {
    margin-bottom: 1rem;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 61px;
    color: #ffff;
}

.order__container .section__description {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 22px;
}

.order__grid {
    display: grid;
    gap: 2rem 1rem;
}

.order__card {
    padding: 2rem 1rem;
    border-radius: 1rem;
    text-align: center;
    transition: 0.3s;
    background-color: #ffffff;
}

.order__card:hover {
    box-shadow: 5px 5px 30px rgba(231, 11, 3, 0.616);
}

.order__card img {
    max-width: 250px;
    margin-inline: auto;
    border-radius: 20px;
    margin-bottom: 2rem;
    filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.3));
}

.order__card h4 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
}

.order__card p {
    margin-bottom: 2rem;
    font-weight: 500;
    color: var(--text-dark);
    line-height: 1.75rem;
}

.event__content {
    display: grid;
    border-radius: 20px;
    background: #fff;
    gap: 2rem;
    padding: 1rem;
    width: 74%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.event__image {
    margin-left: auto;
    margin-right: auto;
}

.event__details {
    text-align: center;
}

.event__details h3 {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 39px;
    color: var(--text-dark);
}

.event__details .section__header {
    margin-bottom: 1rem;
}

.reservation {
    position: relative;
    isolation: isolate;
}

.reservation__container h3 {
    font-size: 2rem;
    font-weight: 500;
    font-family: var(--header-font-2);
    color: var(--text-dark);
    text-align: center;
}

.reservation__container form {
    max-width: 400px;
    margin-inline: auto;
    margin-top: 4rem;
    display: grid;
    gap: 1rem;
}

.reservation__container input {
    padding: 0.75rem 1rem;
    outline: none;
    border: 1px solid var(--text-dark);
    font-size: 1rem;
    color: var(--text-dark);
}

.reservation__container input::placeholder {
    color: var(--text-dark);
}

.reservation img {
    display: none;
}

.footer {
    background-image: url("assets/footer-bg.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer__logo img {
    max-width: 250px;
}

.footer__content {
    margin-top: 2rem;
    display: grid;
    gap: 2rem;
}

.footer__content p {
    font-weight: 5500;
    color: var(--white);
    line-height: 1.75rem;
}

.footer__links {
    list-style: none;
    display: grid;
    gap: 1rem;
}

.footer__links li {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 500;
    color: var(--white);
}

.footer__links li span {
    font-size: 1.25rem;
}

.footer__socials {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer__socials a {
    font-size: 1.5rem;
    color: var(--white);
}

.footer__socials a:hover {
    color: var(--secondary-color);
}

.footer__bar {
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--white);
    text-align: center;
}

@media (width > 540px) {
    .banner__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .banner__card:nth-child(1) {
        grid-area: 1/1/2/3;
    }

    .order__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width > 768px) {
    nav {
        position: static;
        padding: 2rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }

    .nav__header {
        padding: 0;
        background-color: transparent;
    }

    .nav__logo img {
        max-width: 250px;
    }

    .nav__logo-dark {
        display: flex;
    }

    .nav__logo-white {
        display: none;
    }

    .nav__menu__btn {
        display: none;
    }

    .nav__links {
        position: static;
        padding: 0;
        flex-direction: row;
        justify-content: flex-end;
        background-color: transparent;
        transform: none;
        z-index: 1;
    }

    .nav__links a {
        color: var(--primary-color);
    }

    .nav__links a:hover {
        color: var(--tertiary-color);
    }

    .header__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .header__image {
        grid-area: 1/2/2/3;
    }

    .header__content h2 {
        margin-inline-start: unset;
    }

    .header__content h1 {
        text-align: left;
    }

    .banner__card {
        padding: 1.5rem;
    }

    .banner__card:nth-child(1) {
        grid-area: 1/1/3/2;
    }

    .order__grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .event__content {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .event__image {
        grid-area: 1/2/2/3;
    }

    .event__details,
    .event__details .section__header {
        text-align: left;
    }

    .reservation__container form {
        max-width: 600px;
        grid-template-columns: repeat(2, 1fr);
    }

    .reservation img {
        display: flex;
        position: absolute;
        z-index: -1;
    }

    .reservation__bg-1 {
        left: 0;
        top: 0;
        width: clamp(100px, 25vw, 350px);
    }

    .reservation__bg-2 {
        right: 0;
        bottom: 0;
        width: clamp(100px, 20vw, 250px);
    }

    .footer__content {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__links li {
        justify-content: flex-end;
    }

    .footer__socials {
        justify-content: flex-end;
    }
}

@media (width > 1024px) {
    .order__grid {
        gap: 2rem;
    }
}

/* From Uiverse.io by satyamchaudharydev */
/* this button is inspired from this -- s://www.newline.co/pricing */
button {
    --width: 150px;
    --timing: 2s;
    border: 0;
    width: var(--width);
    padding-block: 1em;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    background: rgb(64, 192, 87);
    transition: all 0.2s;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-image: linear-gradient(to right,
            #FFD700 0%,
            /* Amarillo (50%) */
            #FFD700 50%,
            #0033A0 50%,
            /* Azul (25%) */
            #0033A0 75%,
            #CE1126 75%,
            /* Rojo (25%) */
            #CE1126 100%);
    animation: var(--timing) linear dance6123 infinite;
    transform: scale(1.1) translateY(-1px);
}

@keyframes dance6123 {
    to {
        background-position: var(--width);
    }
}
